<!DOCTYPE html>
<html>
<head>
    <title>Stable Diffusion Image Viewer - {{ folder }} - {{ image }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <style>
        html,
        body {
          height: 100%;
        }

        .image-viewer {
          max-width: 600px;
          padding: 1rem;
        }

        .image-container {
          display: flex;
          justify-content: center;
          margin-bottom: 1rem;
        }

        .buttons-container {
          display: flex;
          justify-content: space-between;
        }
    </style>
</head>
<body>
    <main class="image-viewer w-100 m-auto">
      <form>
          <div>
              {{ folder }} - {{ image }}
          </div>
        <div class="image-container">
          <img src="{{ url_for('static', filename=folder + '/' + image) }}" alt="{{ image }}">
        </div>
        {% if parameters %}
        <div>
          <textarea id="parameters-textbox" rows="4" style="width: 100%;">{{ parameters }}</textarea>
        </div>
        {% endif %}
        <div class="buttons-container">
          {% if parameters %}
          <button class="btn btn-secondary" type="button" id="copy-button">Copy</button>
          {% endif %}
          <button class="btn btn-primary" type="button" id="go-back">Go Back</button>
        </div>
      </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.getElementById('go-back').addEventListener('click', function() {
            window.location.href = '/{{ folder }}';
        });

        document.getElementById('copy-button')?.addEventListener('click', function() {
          const textarea = document.getElementById('parameters-textbox');
          textarea.select();
          document.execCommand('copy');
        });
    </script>
</body>
</html>